<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Home</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
 <header class="home__header">
    <div class="home__header__logo">
        <img src="/images/logo.png" alt="">
    </div>
    <button class="home__header__burger"><i class="fa fa-bars"></i> Menu </button>
    <nav class="home__header__nav">
        <ul class="home__header__nav--menu">
            <li><a href="">Computadoras</a></li>
            <li><a href="">Tablets</a></li>
            <li><a href="">Celulares</a></li>
        </ul>
        <ul class="home__header__nav--user">
            <li><a href="">Login</a></li>
            <li><a href="">Registro</a></li>
        </ul>
    </nav>
 </header>
 <main class="home__main">
    <section class="home__main__section--products">
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-01.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a href="">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-02.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a href="">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-03.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a href="">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-01.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a href="">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-02.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a href="">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-03.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a href="">ver más</a>
        </article>
    </section>
    <aside class="home__main__aside">
        <section class="home__main__aside__section--tutoriales">
            <h2>Tutoriales</h2>
            <article>
                <img src="/images/aside-01.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-02.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-03.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-04.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
        </section>
        <section class="home__main__aside__section--publicidad">
            <h2>Publicidad</h2>
            <article>
                <figure>
                    <img src="/images/ad-01.jpg" alt="">
                </figure>
                <figure>
                    <img src="/images/ad-02.jpg" alt="">
                </figure>
            </article>
           
        </section>
    </aside>
 </main>
</body>
</html>